Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
 

ser = pd.Series([4,8,15,16,23,42])
 
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
var=[10,20,30,40,50,60,70,80,90,100]

ser=pd.Series(var)
print(ser)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [10]:
import pandas as pd
data=[["Alica",25,"Female"],["Bob",30,"Male"],["Claire",27,"Female"]]

df=pd.DataFrame(data,columns=["Name","Age","Gender"])
print(df)

     Name  Age  Gender
0   Alica   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [12]:
"""A DataFrame in pandas is a two-dimensional, tabular data structure, similar to a spreadsheet. It consists of rows and columns, and each column is essentially a pandas Series. A Series, on the other hand, is a one-dimensional array-like object. In essence
a DataFrame is a collection of Series"""
#Series example
var=[10,20,30,40,50,60,70,80,90,100]

ser=pd.Series(var)
print(ser)

#data frame example
import pandas as pd
data=[["Alica",25,"Female"],["Bob",30,"Male"],["Claire",27,"Female"]]

df=pd.DataFrame(data,columns=["Name","Age","Gender"])
print(df)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
     Name  Age  Gender
0   Alica   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
"""Pandas provides a variety of functions for data manipulation in a DataFrame.

1-head() and tail(): Display the first or last n rows of the DataFrame.
2-info(): Provides a concise summary of the DataFrame, including data types and missing values.
3-describe(): Generates descriptive statistics of the DataFrame, such as count, mean, std deviation, min, max, etc.
4-loc[] and iloc[]: Used for label-based or integer-location based indexing to access a group of rows and columns."""

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [13]:
"In pandas, Series, DataFrame, and Panel are all mutable in nature, meaning their elements can be modified after creation."

'In pandas, Series, DataFrame, and Panel are all mutable in nature, meaning their elements can be modified after creation.'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [33]:
import pandas as pd

names = ["Abdullah", "khan", "ahmad", "hashir"]
roll_no = [2233404, 2233129, 2233234, 2233490]

ser1 = pd.Series(names)
ser2 = pd.Series(roll_no)
data = [ser1, ser2]


df = pd.concat([ser1, ser2],axis=1, keys=["Names", "Roll No"])
print(df)

      Names  Roll No
0  Abdullah  2233404
1      khan  2233129
2     ahmad  2233234
3    hashir  2233490